@mixin fonts($ft: $ft) {
    font-size: $ft;
}
$ft: 2em;
@mixin boxes($bx: 2em, $ft: $ft, $rad: 8px) {
    line-height: calc($ft + 2em);
    height: calc($ft + 2em);
    width: calc($ft + 2em);
    border-radius: $rad;
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    -ms-border-radius: $rad;
    -o-border-radius: $rad;
}

.board {
    text-align: center;
    width: 240px;
    &__status {
        text-align: center;
        @include fonts(1.5em);
        
    }
    &__grid {
        margin: 2em auto;
        align-items: center;
        justify-content: center;
        display: grid;        
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        &__cell {
            background-color: antiquewhite;
            @include boxes($ft);

            div {
                @include fonts();
            }
        }
    }
    &__actions {
        button {
            text-transform: uppercase;
            @include fonts(1.5);
        }
    }
    @media screen and (min-width: 756px) {
        width: 320px;
        &__status {
                        @include fonts($ft: 2em);
        }
        &__grid {
            width: 300px;
            &__cell {
                @include boxes($ft: 3em, $rad: 24px);
                div {
                    @include fonts(3em);
                }
            }
        }
        &__actions button {
            @include fonts(2em);
        }
    }
}
