@import "./layout";
@import "./fonts";


code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

// game env
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board {
  text-align: center;
  &__status {
    font-size: 1.5em;
  }
  &__grid {    
    margin: 2em auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 15em;
    &__cell {
      background-color: antiquewhite;
      grid-auto-columns: 3em;
      grid-auto-rows: 3em;
      place-self: center center;
      font-size: 2em;
      border-radius: 8px;
      -webkit-border-radius: 8px    ;
      -moz-border-radius: 8px    ;
      -ms-border-radius: 8px    ;
      -o-border-radius: 8px    ;
      line-height: 2em;
      height: 2em;
      width: 2em;
    }

  }
  &__actions {
    font-size: 1.5em;
    button {
      text-transform: uppercase;
    }
  }
}

// board

/* .board-row {
  display: grid;
  grid-template-columns: repeat(3, auto);
} */
.board-row {
  width: 102px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

/* .game-info {
  margin-left: 20px; 
} */

// #board, #history {
//   max-width: 200px;
// }
